/* Reset default browser settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    max-width: 215px;
    padding: 0.5rem;
    margin: 0.938rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 1px 20px hsl(220, 2%, 32%);
}

.qrc-image {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
}

.qrc-text {
    padding: 8px 0;
    text-align: center;
}

.qrc-text h1 {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.qrc-text p {
    font-size: .7rem;
    padding-top: 10px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    font-size: 0.5rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media queries */

@media(max-width: 375px) {

    .container {
        max-width: 200px;
    }
    
}